$title-font: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$title-letter-spacing: 7px;
$dark-grey: #373737;
$medium-grey: #707070;
$light-grey: #cecece;
$hightlight-light-color: white;
$second-color: #e16a00;
