#homePage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/pictures/background_home.png");
  background-repeat: no-repeat;
  background-size: cover;

  .home-card {
    height: 70%;
    width: 67.4%;
    display: flex;
    background-color: $light-grey;
  }

  .card-left {
    flex: 4.2;
    .card-left-header {
      height: 5.9vw;
      display: flex;
      align-items: flex-end;
      background-color: $dark-grey;
      .home-logo-container {
        height: 0%;
        position: absolute;
        display: flex;
        align-items: center;
        img {
          height: 18.78vw;
        }
      }
    }
  }
  .card-right {
    flex: 5.8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $second-color;
  }

  button {
    width: 8rem;
    border: 3px solid $dark-grey;
    background: none;
    padding: 0rem 0.5rem;
    border-radius: 25px;
    font-family: $title_font;
    font-size: 1rem;
    color: $dark-grey;
    letter-spacing: 4px;
    transition: background-color 250ms;
  }

  button:hover {
    background-color: $hightlight-light-color;
    transition: background-color 250ms;
  }

  h2 {
    font-size: 2.25rem;
    font-family: $title_font;
    letter-spacing: 6px;
  }

  label {
    padding-right: 0.5rem;
  }

  input.form-input {
    width: 22rem;
    margin: 0.75em 0;
    padding-left: 0.5rem;
    border: none;
  }

  .form-input {
    height: 2.25rem;
  }
  input[type="radio"],
  input[type="checkbox"] {
    appearance: auto;
    box-sizing: border-box;
    accent-color: $dark-grey;
  }

  a {
    color: $dark-grey;
    text-decoration: none;
    transition: color 250ms;
  }
  a:hover {
    text-decoration: underline;
    color: $hightlight-light-color;
    transition: color 250ms;
  }
}

/***********************************************************************************************************/
// Responsive

@media (max-width: 1367px) {
  #homePage {
    .home-card {
      width: 85%;
    }
  }
}
