body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --title-font: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --title-letter-spacing: 7px;
  --strong-grey: #373737;
  --medium-grey: #4d4d4d;
  --light-grey: #cecece;
}

#root {
  height: 100%;
  width: 100%;
}
